/*
* @Author: Administrator
* @Date:   2018-08-09 10:36:10
* @Last Modified by:   Administrator
* @Last Modified time: 2018-08-09 10:36:45
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
